{% extends "layout.html" %}

{% block content %}
<div class="mt-5">
    <h2 class="mb-4"  style="color: rgba(243, 156, 18, 0.55);">Lär dig att busa!</h2>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1" style="color: #0056b3;">Mr.Muscle och Aliminium</h5>
            <p class="mb-1" style="color: #807e7e;">Vilken jädra smäll...</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1" style="color: #0056b3;">Surströmming i skolventilationen</h5>
            <p class="mb-1" style="color: #807e7e;">Luktar som bara fan...</p>
        </a>
    </div>
</div>
{% endblock %}
