{% extends "layout.html" %}


{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2 class="mb-4">Logga in</h2>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}

            
        </form>
        <small class="d-block mt-3">Har du inget konto?
            <a href="/register" style="color: rgb(243, 156, 18);">Registrera Dig!</a>
        </small>
    </div>
</div>
{% endblock %}