{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">SKapa en ny Tråd</h2>
    <form method="POST" action="{{ url_for('new_thread') }}">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control") }}
        </div>
        <div class="d-grid">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}