{% extends "layout.html" %}



{% block content %}
<!DOCTYPE html>
<html lang="en">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ current_user.username }}</h5>
                        <p class="card-text">{{ current_user.email }}</p>
                        <a href="/settings" class="btn btn-primary" style="background-color: #f39c12; border: 1px solid #e67e22;"><i class="fas fa-gear"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Profil Information <i class="fas fa-circle-info"></i></h4>
                    </div>
                    <div class="card-body">
                        <p><strong>Användarnamn:</strong> {{ current_user.username }}</p>
                        <p><strong>Email:</strong> {{ current_user.email }}</p>
                        <p><strong>Medlem sedan: </strong> {{ current_user.join_date.strftime('%B %d, %Y') }}</p>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Ändra Profilbild <i class="fas fa-image"></i></h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ form.profile_picture.label(class="form-label") }}
                                {{ form.profile_picture(class="form-control") }}
                            </div>
                            <div class="d-grid" >
                                {{ form.submit(class="btn btn-primary", style="background-color: #f39c12; border: 1px solid #e67e22;") }}
                        </form>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Tidigare Aktivitet <i class="fas fa-envelope"></i></h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for thread in threads %}
                            <a href="{{ url_for('view_thread', thread_id=thread.id) }}" class="list-group-item list-group-item-action border rounded" style="border-color: black;">
                                <h5 class="mb-1" style="color: rgba(243, 156, 18, 0.55);">{{ thread.title }}</h5>
                                <p class="mb-1" style="color: #807e7e;">{{ thread.author.username }}  - skapade ett inlägg  <a href="{{ url_for('view_thread', thread_id=thread.id) }}">{{ thread.content[:100] }}...</a></p>
                                <small class="text-muted">{{ thread.timestamp.strftime('%B %d, %Y') }}</small>
                            </a>
                            {% else %}


                                <p>Användaren har inte skapat en tråd eller inlägg ännu...</p>
                            {% endfor %}
                        </ul>                        
                    </div>
            </div>
        </div>
    </div>
</html>

{% endblock %}