{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card border rounded" style="border-color: black;">
        <div class="card-header">
            <h2>{{ thread.title }}</h2>
            {% if current_user.is_authenticated and (current_user.is_admin or current_user.id == thread.author_id) %}
            <form action="{{ url_for('delete_thread', thread_id=thread.id) }}" method="POST" onsubmit="return confirm('Är du säker att du vill ta bort denna tråd?');">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Radera</button>
            </form>
            {% endif %}
        </div>
        <div class="card-body">
            <p>{{ thread.content }}</p>
            <p class="text-muted">Skapad av {{ thread.author.username }} | {{ thread.timestamp.strftime('%B %d, %Y') }}</p>

            <a href="{{ url_for('reply_thread', thread_id=thread.id) }}" class="text-dark"><i class="fa-solid fa-reply"></i> Svara på inlägget.</a>
        </div>
    </div>
</div>

<h4 class="mt-5">Tidigare Svar</h4>
{% if replies %}
<ul class="list-group mb-4">
    {% for reply in replies %}
    <li class="list-group-item">
        <div class="d-flex align-items-center">
            {% if reply.author.profile_picture %}
                <img src="{{ url_for('static', filename='profile_pics/' + reply.author.profile_picture) }}" alt="Profile Picture" class="img-thumbnail text-muted" style="width: 50px; height: 50px; margin-right: 10px;">
            {% else %}
                <img src="{{ url_for('static', filename='profile_pics/default.png') }}" alt="Default Profile Picture" class="img-thumbnail text-muted" style="width: 50px; height: 50px; margin-right: 10px;">
            {% endif %}
            <div>
                <a class="mb-0 text-muted" href="{{ url_for('user_profile', username=reply.author.username) }}">
                    - {{ reply.author.username }}
                </a>    
             </div>
        </div>
    </li>
</ul>
            <p class="align-items-center ms-2">{{ reply.content }}</p>
        </li>
    {% endfor %}
    {% else %}
        <p>Ingen har svarat på tråden ännu...</p>
    {% endif %}
    </ul>
{% endblock %}